.layout-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-container {
  margin-right: 10px;
}

.logo-image {
  height: 50px;
  width: 150px;
  object-fit: cover;
  margin-left: 15px;
  margin-top: 10px;
}
.onlylogo-image {
  height: 50px;
  width: 30px;
  object-fit: contain;
  border: none;
  margin-left: 15px;
}

.pro-sidebar > .pro-sidebar-inner {
  background: white;
}
.navbar-toggle {
  background-color: white;
  border: none;
}
.links {
  align-items: center;
}

.navbar-icons {
  font-size: 20px;
  color: black;
  align-self: center;
}

.navbar-menuitem {
  color: black;
  font-weight: 600;
  margin-top: 15px;
  padding-left: 10px;
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  background: white;
  margin-top: 0px;
}

.pro-sidebar .pro-menu .pro-menu-item {
  height: 40px;
}

.custom-submenu {
  position: absolute;
  z-index: 1000;
}

.rs-sidenav-default {
  height: 630px !important;
}

.links {
  color: black !important;
  border: none;
  text-decoration: none !important;
  font-size: 15px;
  font-weight: 500;
}
