.App {
  font-family: sans-serif;
  text-align: center;
}
/* .css-13cymwt-control {
  width: 120px !important;
}

.css-b62m3t-container {
  width: 120px !important;

  border-color: #cbb883 !important;
} */
